{% extends 'base.html.twig' %}

{% block title %}Tuniflix!{% endblock %}

{% block content %}
    <div class='previewContainer'>

        <img src='{{ asset(entity.getThumbnail()) }}' class='previewImage' hidden>

        <video autoplay muted class='previewVideo' onended='previewEnded()'>

            <source src='{{ asset(entity.getPreview()) }}' type='video/mp4'>

        </video>

        <div class='previewOverlay'>
            <div class='mainDetails'>
                <h3>{{entity.getName()}}</h3>
                {% if entity.getVideos()|length > 0 %}
                    {% if not entity.getVideos()[0].isMovie() %}
                    Season {{ entity.getVideos()[0].getSeason() }} Episode {{ entity.getVideos()[0].getEpisode() }}
                    {% endif %}

                    <div class='buttons'>
                    <button onclick='watchVideo({{ entity.getVideos()[0].getId() }})'><i class='fa-solid fa-play'></i>Play</button>
                    <button onclick='volumeToggle(this)'><i class='fa-solid fa-volume-xmark'></i></button>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
<div class='previewCategories'>
    {% for category in categories %}
        {% if category.getEntities()|length > 0 %}
    <div class='category'>
        <a href="{{ path("app_home") }}">{# category ID concatenated TODO #}
            <h3>{{ category.getName() }}</h3>
        </a>
        <div class='entities'>
        {% for entity in category.getEntities() %}
            <a href={{ path("app_home") }}> {# entity ID concatenated TODO #}
                <div class='previewContainer small'>
                    <img src='{{ asset(entity.getThumbnail()) }}' title='{{ entity.getName() }}'>
                </div>
            </a>
        {% endfor %}

        </div>
    </div>
        {% endif %}
     {% endfor %}


</div>

{% endblock %}
