{% extends 'base.html.twig' %}

{% block title %}Entity!{% endblock %}

{% block content %}
    <div class="previewContainer">
        <!-- Entity preview container -->
        <img src="{{ asset(entity.getThumbnail()) }}" class="previewImage" hidden>
        <video autoplay muted class="previewVideo" onended="previewEnded()">
            <source src="{{ asset(entity.getPreview()) }}" type="video/mp4">
        </video>
        <div class="previewOverlay">
            <div class="mainDetails">
                <h3>{{ entity.getName() }}</h3>
                {% if entity.getVideos()|length > 0 %}
                    {% if not entity.getVideos()[0].isMovie() %}
                        <h4>Season {{ entity.getVideos()[0].getSeason() }} Episode {{ entity.getVideos()[0].getEpisode() }}</h4>
                    {% endif %}
                    <div class="buttons">
                        <button onclick="watchVideo({{ entity.getVideos()[0].getId() }})"><i class="fa-solid fa-play"></i>Play</button>
                        <button onclick="volumeToggle(this)"><i class="fa-solid fa-volume-xmark"></i></button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if (isMovie == false) %}

        <!-- Seasons and videos container -->
        <div class="seasonsContainer">
            {% for season in seasons %}
                <div class="season">
                    <h3>Season {{ season.seasonNumber }}</h3>
                    <div class="videos">
                        {% for video in season.videos %}
                            <a href="{{ path('app_home') }}">
                                <div class="episodeContainer small">
                                    <div class="contents">
                                        <img src="{{ asset(entity.getThumbnail()) }}" title="{{ video.getTitle() }}">
                                        <div class="videoInfo">
                                            <h4>{{ video.getEpisode() ~ '. ' ~ video.getTitle() }}</h4>
                                            <span>{{ asset(video.getDescription()) }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>*
    {% endif %}

    <div class='entities'>
        <h3>You might also like</h3>
        {% for entity in category.getEntities() %}
            <a href={{ path('app.entity', {'id': entity.getId()}) }}> {# entity ID concatenated TODO #}
                <div class='previewContainer small noScroll'>
                    <img src='{{ asset(entity.getThumbnail()) }}' title='{{ entity.getName() }}'>
                </div>
            </a>
        {% endfor %}


    </div>

{% endblock %}