{% extends 'base.html.twig' %}



{% block title %}Contact Us{% endblock %}

{% block body %}
    <div class="contactContainer column">
        <div class="formSection">
            <h2>Contact Us</h2>
            <p>If you have any questions, please feel free to contact us. We are here to help.</p>

            {% for flashType in ['success', 'error'] %}
                {% for flashMessage in app.flashes(flashType) %}
                    <div class="alert.{{ flashType }}">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            {% endfor %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        </div>


    </div>
{% endblock %}
